* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-color: rgb(100, 100, 100);
}
.memory-game {
  display: flex;
  width: 640px;
  height: 640px;
  margin: auto;
  flex-wrap: wrap;
}
.card {
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(rgb(), 1, 1, 1, 0.3);
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.9s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}
